<app-sidebar></app-sidebar>
<header>
    <div class="headerInner">
        <div class="headerAll headerAll2">
            <div class="headerTop">
                <div class="topLeft">
                    <ul>
                        <li>Home /</li>
                        <li><a href="javascript:void(0)">Restaurants</a></li>
                    </ul>
                </div>
                <div class="topRight">
                    <h2>Admin <span><img src="assets/imgs/profile.svg" alt="profile"></span></h2>
                    <!-- <div class="adminDetail">
                        <ul>
                            <li><a href="javascript:void(0)"><span><i class="fa fa-user"></i></span>Profile</a></li>
                            <li><a href="javascript:void(0)"><span><i class="fa fa-sign-out-alt"></i></span>Logout</a></li>
                      
                        </ul>
                    </div> -->
                </div>
            </div>
            <h2 class="head">Restaurant Details</h2>

        </div>
    </div>
</header>

<div class="commonall commonallup" style="text-align: left;">
    <div class="staticcon ">
        <ul class="bd">
            <li><a [routerLink]="['/restaurants-personal-information']">Personal Information</a></li>
            <li><a [routerLink]="['/restaurants-menus']">Menus</a></li>
            <li><a [routerLink]="['/restaurants-sell-items']">Sell Items</a></li>
            <li><a [routerLink]="['/restaurants-order-history']">Order History</a></li>
            <li><a [routerLink]="['/restaurants-employees']">Employees</a></li>
            <!-- <li class="active"><a [routerLink]="['/restaurants-payout']">Payouts</a></li> -->
        </ul>


        <div class="storeDet" style="text-align: left;">
            <div class="payFlex">
                <h2 class="head">Payout Details</h2>
                <a href="javascript:void(0)" class="btns addnew">Download Excel</a>
            </div>
            <ul class="radioAl">
                <li>
                    <a href="javascript:void(0)" class=" individualup active">
                        <div class="form-group">
                            <input type="radio" name="payout" id="payout1" checked>
                            <label for="payout1">Individual Store</label>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)" class="groupup">
                        <div class="form-group">
                            <input type="radio" name="payout" id="payout2">
                            <label for="payout2">Group</label>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="individual active">
            <div class="tableList">
                <div class="table-responsive scrollbar2" id="style-4">
                    <table class="table force-overflow2">
                        <thead>
                            <tr>

                                <th>Store ID</th>
                                <th>Store Name</th>
                                <th>Store Location</th>
                                <th>A/c Holder Name</th>
                                <th>Bank Name</th>
                                <th>Account Number</th>
                                <th>IFSC Code</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><span class="idcolor">SE065132</span></td>
                                <td>Deepanshu</td>
                                <td>Meerut</td>
                                <td>Deepanshu</td>
                                <td>ICIC</td>
                                <td>1212122323333</td>
                                <td>ICIC545445</td>
                                <td><span class="action">

                                        <a href="javascript:void(0)" class="switchUp">
                                            <input class="switch" type="checkbox" />
                                        </a>
                                    </span></td>
                            </tr>
                            <tr>
                                <td><span class="idcolor">SE065132</span></td>
                                <td>Deepanshu</td>
                                <td>Meerut</td>
                                <td>Deepanshu</td>
                                <td>ICIC</td>
                                <td>1212122323333</td>
                                <td>ICIC545445</td>
                                <td><span class="action">

                                        <a href="javascript:void(0)" class="switchUp">
                                            <input class="switch" type="checkbox" />
                                        </a>
                                    </span></td>
                            </tr>
                            <tr>
                                <td><span class="idcolor">SE065132</span></td>
                                <td>Deepanshu</td>
                                <td>Meerut</td>
                                <td>Deepanshu</td>
                                <td>ICIC</td>
                                <td>1212122323333</td>
                                <td>ICIC545445</td>
                                <td><span class="action">

                                        <a href="javascript:void(0)" class="switchUp">
                                            <input class="switch" type="checkbox" />
                                        </a>
                                    </span></td>
                            </tr>
                            <tr>
                                <td><span class="idcolor">SE065132</span></td>
                                <td>Deepanshu</td>
                                <td>Meerut</td>
                                <td>Deepanshu</td>
                                <td>ICIC</td>
                                <td>1212122323333</td>
                                <td>ICIC545445</td>
                                <td><span class="action">

                                        <a href="javascript:void(0)" class="switchUp">
                                            <input class="switch" type="checkbox" />
                                        </a>
                                    </span></td>
                            </tr>
                            <tr>
                                <td><span class="idcolor">SE065132</span></td>
                                <td>Deepanshu</td>
                                <td>Meerut</td>
                                <td>Deepanshu</td>
                                <td>ICIC</td>
                                <td>1212122323333</td>
                                <td>ICIC545445</td>
                                <td><span class="action">

                                        <a href="javascript:void(0)" class="switchUp">
                                            <input class="switch" type="checkbox" />
                                        </a>
                                    </span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="paginations">
                    <div class="paginationLeft">
                        <!-- <h2>Total Employees : <span>354865</span></h2> -->
                    </div>
                    <div class="paginationRight">
                        <ul>
                            <li><a href="javascript:void(0)"><img src="assets/imgs/l.svg" alt="arrowleft"></a></li>
                            <li><a href="javascript:void(0)"><img src="assets/imgs/arrowleft.svg" alt="arrowleft"></a>
                            </li>
                            <li><a href="javascript:void(0)">1</a></li>
                            <li><a href="javascript:void(0)">2</a></li>
                            <li><a href="javascript:void(0)">3</a></li>
                            <li><a href="javascript:void(0)">4</a></li>
                            <li><a href="javascript:void(0)"><img src="assets/imgs/arrowright.svg" alt="arrowright"></a>
                            </li>
                            <li><a href="javascript:void(0)"><img src="assets/imgs/r.svg" alt="arrowleft"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="group">
            <div class="tableList">
                <div class="table-responsive scrollbar2" id="style-4">
                    <table class="table force-overflow2">
                        <thead>
                            <tr>

                                <th>Bank Name</th>
                                <th>Account Number</th>
                                <th>A/c Holder Name</th>
                                <th>IFSC Code</th>
                                <th>Store ID</th>
                                <th>Uploaded On</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>ICIC</td>
                                <td>1212122323333</td>
                                <td>Deepanshu</td>
                                <td>ICIC545445</td>
                                <td><span class="idcolor">SE065132</span></td>
                                <td>23/03/21</td>



                                <td><span class="action">

                                        <a href="javascript:void(0)" class="switchUp">
                                            <input class="switch" type="checkbox" />
                                        </a>
                                    </span></td>
                            </tr>
                            <tr>
                                <td>ICIC</td>
                                <td>1212122323333</td>
                                <td>Deepanshu</td>
                                <td>ICIC545445</td>
                                <td><span class="idcolor">SE065132</span></td>
                                <td>23/03/21</td>



                                <td><span class="action">

                                        <a href="javascript:void(0)" class="switchUp">
                                            <input class="switch" type="checkbox" />
                                        </a>
                                    </span></td>
                            </tr>
                            <tr>
                                <td>ICIC</td>
                                <td>1212122323333</td>
                                <td>Deepanshu</td>
                                <td>ICIC545445</td>
                                <td><span class="idcolor">SE065132</span></td>
                                <td>23/03/21</td>



                                <td><span class="action">

                                        <a href="javascript:void(0)" class="switchUp">
                                            <input class="switch" type="checkbox" />
                                        </a>
                                    </span></td>
                            </tr>
                            <tr>
                                <td>ICIC</td>
                                <td>1212122323333</td>
                                <td>Deepanshu</td>
                                <td>ICIC545445</td>
                                <td><span class="idcolor">SE065132</span></td>
                                <td>23/03/21</td>



                                <td><span class="action">

                                        <a href="javascript:void(0)" class="switchUp">
                                            <input class="switch" type="checkbox" />
                                        </a>
                                    </span></td>
                            </tr>
                            <tr>
                                <td>ICIC</td>
                                <td>1212122323333</td>
                                <td>Deepanshu</td>
                                <td>ICIC545445</td>
                                <td><span class="idcolor">SE065132</span></td>
                                <td>23/03/21</td>



                                <td><span class="action">

                                        <a href="javascript:void(0)" class="switchUp">
                                            <input class="switch" type="checkbox" />
                                        </a>
                                    </span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="paginations">
                    <div class="paginationLeft">
                        <!-- <h2>Total Employees : <span>354865</span></h2> -->
                    </div>
                    <div class="paginationRight">
                        <ul>
                            <li><a href="javascript:void(0)"><img src="assets/imgs/l.svg" alt="arrowleft"></a></li>
                            <li><a href="javascript:void(0)"><img src="assets/imgs/arrowleft.svg" alt="arrowleft"></a>
                            </li>
                            <li><a href="javascript:void(0)">1</a></li>
                            <li><a href="javascript:void(0)">2</a></li>
                            <li><a href="javascript:void(0)">3</a></li>
                            <li><a href="javascript:void(0)">4</a></li>
                            <li><a href="javascript:void(0)"><img src="assets/imgs/arrowright.svg" alt="arrowright"></a>
                            </li>
                            <li><a href="javascript:void(0)"><img src="assets/imgs/r.svg" alt="arrowleft"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>