<app-sidebar></app-sidebar>
<header>
    <div class="headerInner">
        <div class="headerAll">
            <div class="headerTop">
                <div class="topLeft">
                    <ul>
                        <li>Home /</li>
                        <li><a href="javascript:void(0)">Credits</a></li>
                    </ul>
                </div>
                <div class="topRight">
                    <h2>Admin <span><img src="assets/imgs/profile.svg" alt="profile"></span></h2>
                    <!-- <div class="adminDetail">
                        <ul>
                            <li><a href="javascript:void(0)"><span><i class="fa fa-user"></i></span>Profile</a></li>
                            <li><a href="javascript:void(0)"><span><i class="fa fa-sign-out-alt"></i></span>Logout</a></li>
                      
                        </ul>
                    </div> -->
                </div>
            </div>
            <h2 class="head">Credits</h2>
            <div class="allsearch">
                <div class="row">
                    <div class="col-sm-5">
                    <div class="row">
                        <div class="col-sm-4" style="flex: 0 0 28.333333%;max-width: 28.333333%;">
                            <div class="amountRange">
                                <h2>Amount Range</h2>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="selecter">
                                <select class="form-control formControl">
                                    <option>Min</option>
                                   
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="selecter">
                                <select class="form-control formControl">
                                    <option>Max</option>
                                  
                                </select>
                            </div>
                        </div>
                    </div>
                    </div>
                    <!-- <div class="col-sm-1"></div> -->
                    <div class="col-sm-7">
                        <div class="row">
                            <div class="col-sm-3">
                                </div>
                            <div class="col-sm-3">
                                <div class="selecter">
                                    <select class="form-control formControl">
                                        <option>From Date</option>
                                        <option>10 july 2021</option>
                                        <option>11 july 2021</option>
                                        <option>12 july 2021</option>
                                        <option>13 july 2021</option>
                                        <option>14 july 2021</option>
                                        <option>15 july 2021</option>
                                        <option>16 july 2021</option>
                                        <option>17 july 2021</option>
                                        <option>18 july 2021</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="selecter">
                                    <select class="form-control formControl">
                                        <option>To Date</option>
                                        <option>15 july 2021</option>
                                        <option>16 july 2021</option>
                                        <option>18 july 2021</option>
                                        <option>19 july 2021</option>
                                        <option>20 july 2021</option>
                                        <option>21 july 2021</option>
                                        <option>22 july 2021</option>
                                        <option>23 july 2021</option>
                                        <option>24 july 2021</option>
                                    </select>
                                </div>
                            </div>
                  <div class="col-sm-3">
                      <a href="javascript:void(0)" class="btns addnew">+ Add New</a>
                  </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="commonall">
    <div class="tableList">
        <div class="table-responsive scrollbar2" id="style-4">
            <table class="table force-overflow2">
                <thead>
                    <tr>
                        <th>Code Title</th>
                        <th>Credit Frequency</th>
                        <th>Credit Description</th>
                        <th>Credit Code</th>
                        <th>Customers</th>
                        <th>Redeemed By</th>
                        <th>Duration</th>
                        <th>Uploade On</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>SE065132</td>
                        <td>1,050</td>
                        <td>Lorem Ipsum</td>
                        <td>SE065132</td>
                        <td>21</td>
                        <td>5</td>
                        <td>10 Days</td>
                        <td>02/06/2021</td>
                        <td><span class="action">
                              <a href="javascript:void(0)" class="edit">
                                  <img src="assets/imgs/edit.svg" alt="edit">
                              </a>
                              <a href="javascript:void(0)" class="edit">
                                <img src="assets/imgs/delete.svg" alt="edit">
                            </a>
                            
                                <a href="javascript:void(0)" class="switchUp">
                                    <input class="switch" type="checkbox" />
                                </a>
                            </span></td>
                    </tr>
                    <tr>
                        <td>SE065132</td>
                        <td>1,050</td>
                        <td>Lorem Ipsum</td>
                        <td>SE065132</td>
                        <td>21</td>
                        <td>5</td>
                        <td>10 Days</td>
                        <td>02/06/2021</td>
                        <td><span class="action">
                              <a href="javascript:void(0)" class="edit">
                                  <img src="assets/imgs/edit.svg" alt="edit">
                              </a>
                              <a href="javascript:void(0)" class="edit">
                                <img src="assets/imgs/delete.svg" alt="edit">
                            </a>
                            
                                <a href="javascript:void(0)" class="switchUp">
                                    <input class="switch" type="checkbox" />
                                </a>
                            </span></td>
                    </tr>
                    <tr>
                        <td>SE065132</td>
                        <td>1,050</td>
                        <td>Lorem Ipsum</td>
                        <td>SE065132</td>
                        <td>21</td>
                        <td>5</td>
                        <td>10 Days</td>
                        <td>02/06/2021</td>
                        <td><span class="action">
                              <a href="javascript:void(0)" class="edit">
                                  <img src="assets/imgs/edit.svg" alt="edit">
                              </a>
                              <a href="javascript:void(0)" class="edit">
                                <img src="assets/imgs/delete.svg" alt="edit">
                            </a>
                            
                                <a href="javascript:void(0)" class="switchUp">
                                    <input class="switch" type="checkbox" />
                                </a>
                            </span></td>
                    </tr>
                    <tr>
                        <td>SE065132</td>
                        <td>1,050</td>
                        <td>Lorem Ipsum</td>
                        <td>SE065132</td>
                        <td>21</td>
                        <td>5</td>
                        <td>10 Days</td>
                        <td>02/06/2021</td>
                        <td><span class="action">
                              <a href="javascript:void(0)" class="edit">
                                  <img src="assets/imgs/edit.svg" alt="edit">
                              </a>
                              <a href="javascript:void(0)" class="edit">
                                <img src="assets/imgs/delete.svg" alt="edit">
                            </a>
                            
                                <a href="javascript:void(0)" class="switchUp">
                                    <input class="switch" type="checkbox" />
                                </a>
                            </span></td>
                    </tr>
                    <tr>
                        <td>SE065132</td>
                        <td>1,050</td>
                        <td>Lorem Ipsum</td>
                        <td>SE065132</td>
                        <td>21</td>
                        <td>5</td>
                        <td>10 Days</td>
                        <td>02/06/2021</td>
                        <td><span class="action">
                              <a href="javascript:void(0)" class="edit">
                                  <img src="assets/imgs/edit.svg" alt="edit">
                              </a>
                              <a href="javascript:void(0)" class="edit">
                                <img src="assets/imgs/delete.svg" alt="edit">
                            </a>
                            
                                <a href="javascript:void(0)" class="switchUp">
                                    <input class="switch" type="checkbox" />
                                </a>
                            </span></td>
                    </tr>
                    <tr>
                        <td>SE065132</td>
                        <td>1,050</td>
                        <td>Lorem Ipsum</td>
                        <td>SE065132</td>
                        <td>21</td>
                        <td>5</td>
                        <td>10 Days</td>
                        <td>02/06/2021</td>
                        <td><span class="action">
                              <a href="javascript:void(0)" class="edit">
                                  <img src="assets/imgs/edit.svg" alt="edit">
                              </a>
                              <a href="javascript:void(0)" class="edit">
                                <img src="assets/imgs/delete.svg" alt="edit">
                            </a>
                            
                                <a href="javascript:void(0)" class="switchUp">
                                    <input class="switch" type="checkbox" />
                                </a>
                            </span></td>
                    </tr>
                     <tr>
                        <td>SE065132</td>
                        <td>1,050</td>
                        <td>Lorem Ipsum</td>
                        <td>SE065132</td>
                        <td>21</td>
                        <td>5</td>
                        <td>10 Days</td>
                        <td>02/06/2021</td>
                        <td><span class="action">
                              <a href="javascript:void(0)" class="edit">
                                  <img src="assets/imgs/edit.svg" alt="edit">
                              </a>
                              <a href="javascript:void(0)" class="edit">
                                <img src="assets/imgs/delete.svg" alt="edit">
                            </a>
                            
                                <a href="javascript:void(0)" class="switchUp">
                                    <input class="switch" type="checkbox" />
                                </a>
                            </span></td>
                    </tr>

                </tbody>
            </table>
        </div>
        <div class="paginations">
            <div class="paginationLeft">
                <h2>Total Customers: <span>354865</span></h2>
            </div>
            <div class="paginationRight">
                <ul>
                    <li><a href="javascript:void(0)"><img src="assets/imgs/l.svg" alt="arrowleft"></a></li>
                    <li><a href="javascript:void(0)"><img src="assets/imgs/arrowleft.svg" alt="arrowleft"></a></li>
                    <li><a href="javascript:void(0)">1</a></li>
                    <li><a href="javascript:void(0)">2</a></li>
                    <li><a href="javascript:void(0)">3</a></li>
                    <li><a href="javascript:void(0)">4</a></li>
                    <li><a href="javascript:void(0)"><img src="assets/imgs/arrowright.svg" alt="arrowright"></a></li>
                    <li><a href="javascript:void(0)"><img src="assets/imgs/r.svg" alt="arrowleft"></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>