<section class="loginComponent">
    <div class="loginUp"> 
        <div class="loginbox">
            <div class="loginLogo">
                <img src="assets/imgs/logo.png" alt="logo">
            </div>
            <div class="Contentbox">
                <form action="">
                    <h2 class="head">Reset Password</h2>
                    <p class="para">Reset your passsword</p>
                    <div class="form-group Relative">
                        <span class="pass"><i class="fa fa-eye-slash"></i></span>
                        <label for="" class="label">New Password</label>
                        <input type="password" placeholder="Password" class="form-control formControl passwordAl">
                    </div>
                    <div class="form-group Relative">
                        <span class="pass"><i class="fa fa-eye-slash"></i></span>
                        <label for="" class="label">Confirm Password</label>
                        <input type="password" placeholder="Password" class="form-control formControl passwordAl">
                    </div>
                
               
                    <div class="form-group pd-15">
                        <button class="btns" [routerLink]="['/login']">Save</button>
                    </div>
         
                </form>
            </div>
        </div>
    </div>
    </section>
    