<app-sidebar></app-sidebar>
<header>
    <div class="headerInner">
        <div class="headerAll headerAll2">
            <div class="headerTop">
                <div class="topLeft">
                    <ul>
                        <li>Home /</li>
                        <li><a href="javascript:void(0)">Static Content</a></li>
                    </ul>
                </div>
                <div class="topRight">
                    <h2>Admin <span><img src="assets/imgs/profile.svg" alt="profile"></span></h2>
                    <!-- <div class="adminDetail">
                        <ul>
                            <li><a href="javascript:void(0)"><span><i class="fa fa-user"></i></span>Profile</a></li>
                            <li><a href="javascript:void(0)"><span><i class="fa fa-sign-out-alt"></i></span>Logout</a></li>
                      
                        </ul>
                    </div> -->
                </div>
            </div>
            <h2 class="head">FAQ's</h2>

        </div>
    </div>
</header>

<div class="commonall commonallup">
    <div class="staticcon">
        <ul class="bd">
            <li><a [routerLink]="['/static-content']">About Us</a></li>
            <li><a [routerLink]="['/term-condition']">Terms & Conditions</a></li>
            <li><a [routerLink]="['/contact-us']">Contact Us</a></li>
            <li><a [routerLink]="['/privacy-policy']">Privacy Policy</a></li>
            <li class="active"><a [routerLink]="['/faq']">FAQs</a></li>
        </ul>
        <form action="" class="aboutForm">
            <div class="form-group">
                <label for="" class="label">Heading</label>
                <input type="text" class="form-control formControl border" placeholder="Heading">
            </div>
            <div class="form-group">
                <label for="" class="label">Select User Type</label>
                <ul class="radioAl">
                    <li>
                        <div class="form-group">
                            <input type="radio" name="data" id="All">
                            <label for="All">All</label>
                        </div>
                    </li>
                    <li>
                        <div class="form-group">
                            <input type="radio" name="data" id="Customers" checked>
                            <label for="Customers">Customers</label>
                        </div>
                    </li>
                    <li>
                        <div class="form-group">
                            <input type="radio" name="data" id="Stores">
                            <label for="Stores">Stores</label>
                        </div>
                    </li>
                    <li>
                        <div class="form-group">
                            <input type="radio" name="data" id="Brands">
                            <label for="Brands">Brands</label>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="form-group">
                <label for="" class="label">Answer</label>
                <textarea class="form-control formControl border" placeholder="Answer" rows="6"></textarea>
            </div>
            <div class="form-group">
                <a href="javascript:void(0)" class="addColor">+ Add Questions</a>
            </div>
            <div class="form-group btnwidth marginzero">
                <button class="btns">save</button>
            </div>
            <div class="lastUpdate">
                <h2>Last Update : </h2>
                <h4>05/08/21 <span class="time">11:07 am</span></h4>
            </div>
        </form>
    </div>
</div>