<header>
    <div class="headerInner">
        <div class="headerAll">
            <div class="headerTop">
                <div class="topLeft">
                    <ul>
                        <li>Home /</li>
                        <li><a href="javascript:void(0)">Statistics</a></li>
                    </ul>
                </div>
                <div class="topRight">
                    <h2>Admin <span><img src="assets/imgs/profile.svg" alt="profile"></span></h2>
                    <!-- <div class="adminDetail">
                        <ul>
                            <li><a href="javascript:void(0)"><span><i class="fa fa-user"></i></span>Profile</a></li>
                            <li><a href="javascript:void(0)"><span><i class="fa fa-sign-out-alt"></i></span>Logout</a></li>
                      
                        </ul>
                    </div> -->
                </div>
            </div>
            <h2 class="head">Dashboard</h2>
            <div class="allsearch">
          <div class="row">
              <div class="col-sm-3">
                <div class="searchLeft">
                    <div class="form-group Relative">
                        <span><img src="assets/imgs/search.svg" alt="search"></span>
                        <input type="text" class="form-control formControl pd-38" placeholder="Search  , Location">
                    </div>
                </div>
              </div>
              <!-- <div class="col-sm-1"></div> -->
              <div class="col-sm-9">
                  <div class="row">
                      <div class="col-sm-1"></div>
                      <div class="col-sm-3">
                          <div class="selecter">
                              <select class="form-control formControl">
                                  <option >From Date</option>
                                  <option >10 july 2021</option>
                                  <option >11 july 2021</option>
                                  <option >12 july 2021</option>
                                  <option >13 july 2021</option>
                                  <option >14 july 2021</option>
                                  <option >15 july 2021</option>
                                  <option >16 july 2021</option>
                                  <option >17 july 2021</option>
                                  <option >18 july 2021</option>
                              </select>
                          </div>
                      </div>
                      <div class="col-sm-3">
                        <div class="selecter">
                            <select class="form-control formControl">
                                <option >To Date</option>
                                <option >15 july 2021</option>
                                <option >16 july 2021</option>
                                <option >18 july 2021</option>
                                <option >19 july 2021</option>
                                <option >20 july 2021</option>
                                <option >21 july 2021</option>
                                <option >22 july 2021</option>
                                <option >23 july 2021</option>
                                <option >24 july 2021</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <ul class="radioAl">
                            <li>
                                <div class="form-group">
                                    <input type="radio" name="data" id="today" checked>
                                    <label for="today">Today</label>
                                </div>
                            </li>
                            <li>
                                <div class="form-group">
                                    <input type="radio" name="data" id="Week">
                                    <label for="Week">This Week</label>
                                </div>
                            </li>
                            <li>
                                <div class="form-group">
                                    <input type="radio" name="data" id="Month">
                                    <label for="Month">This Month</label>
                                </div>
                            </li>
                        </ul>
                    </div>
                  </div>
              </div>
          </div>
            </div>
        </div>
    </div>
</header>
