<app-sidebar></app-sidebar>
<header>
  <div class="headerInner">
    <div class="headerAll headerAll2">
      <div class="headerTop">
        <div class="topLeft">
          <ul>
            <li>Home /</li>
            <li [routerLink]='["/role-managemnt"]' style="cursor: pointer;">Role Management /</li>
            <li><a href="javascript:void(0)">Add Role Management </a></li>
          </ul>
        </div>
        <div class="topRight">
          <h2>Admin <span><img src="assets/imgs/profile.svg" alt="profile"></span></h2>
          <!-- <div class="adminDetail">
                        <ul>
                            <li><a href="javascript:void(0)"><span><i class="fa fa-user"></i></span>Profile</a></li>
                            <li><a href="javascript:void(0)"><span><i class="fa fa-sign-out-alt"></i></span>Logout</a></li>
                      
                        </ul>
                    </div> -->
        </div>
      </div>
      <h2 class="head">Add Role Management</h2>

    </div>
  </div>
</header>

<div class="commonall commonallup">
<div class="Credit">
    <!-- <h2 class="head2">Role Management</h2> -->
    <div class="row" style="padding-top: 15px;">
        <div class="col-sm-6 ">
            <form action="">
        
                <div class="form-group">
                    <label for="" class="label">Enter Role Title </label>
                    <input type="text" class="form-control formControl border" placeholder="Enter Role Title ">
                </div>
            
                <div class="form-group">
                    <label for="" class="label">Module </label>
                   <select class="form-control formControl">
                       <option value="">Module </option>
                   </select>
                </div>
                <div class="form-group">
                    <label for="" class="label">Accessibility </label>
                   <select class="form-control formControl">
                       <option value="">Accessibility </option>
                   </select>
                </div>
             <div class="form-group sbtn">
                 <button class="btns">Add</button>
             </div>
            </form>
        </div>
    
    </div>
</div>
    </div>