<section class="loginComponent">
    <div class="loginUp"> 
        <div class="loginbox">
            <div class="loginLogo">
                <img src="assets/imgs/logo.png" alt="logo">
            </div>
            <div class="Contentbox" style="width: 85%;margin: 0 auto;">
                <form action="">
                    <h2 class="head">SaveEat for Business  </h2>
                    <p class="para numberotp">One-Time Password has been sent to <b>deepanshu@gmail.com</b></p>
                 <div class="otpScreen">
                     <input type="text" maxlength="1">
                     <input type="text" maxlength="1">
                     <input type="text" maxlength="1">
                     <input type="text" maxlength="1">
                     <input type="text" maxlength="1">
                     <input type="text" maxlength="1">
                 </div>
                    <div class="form-group pd-15">
                        <button class="btns" [routerLink]="['/reset-password']" >Submit</button>
                    </div>
                    <!-- <h5>Not a member? <a href="javascript:void(0)">Sign Up</a></h5> -->
                </form>
            </div>
        </div>
    </div>
    </section>
    