<section class="adminBar">
 <div class="adminTop">
    <a href="javascript:void(0)" class="closedd">
        <img src="assets/imgs/close.svg" alt="close">
    </a>
    <div class="topRight">
        <h2>Admin <span><img src="assets/imgs/profile.svg" alt="profile"></span></h2>
  
    </div>
 </div>
    <div class="adminCon">
        <img src="assets/imgs/men.svg" alt="men">
        <p>Lorem ipsum dolor sit amet, conse-
            ctetur adipiscing elit, sed do
            eiusmod tempor incididunt</p>
    </div>
    <div class="settingDet">
        <ul>
            <li><a [routerLink]="['/setting']"><span><img src="assets/imgs/setting.svg" alt="setting"></span> Settings</a></li>
            <li><a [routerLink]="['/']" class="logout">Logout</a></li>
        </ul>
    </div>
</section> 
