<app-sidebar></app-sidebar>
<header>
    <div class="headerInner">
        <div class="headerAll">
            <div class="headerTop">
                <div class="topLeft">
                    <ul>
                        <li>Home /</li>
                        <li><a href="javascript:void(0)">Rewards History</a></li>
                    </ul>
                </div>
                <div class="topRight">
                    <h2>Admin <span><img src="assets/imgs/profile.svg" alt="profile"></span></h2>
                    <!-- <div class="adminDetail">
                        <ul>
                            <li><a href="javascript:void(0)"><span><i class="fa fa-user"></i></span>Profile</a></li>
                            <li><a href="javascript:void(0)"><span><i class="fa fa-sign-out-alt"></i></span>Logout</a></li>
                      
                        </ul>
                    </div> -->
                </div>
            </div>
            <h2 class="head">Rewards History</h2>
            <div class="allsearch alignCenter">
          <div class="row ">
              <div class="col-sm-3">
                <div class="searchLeft">
                    <div class="form-group Relative">
                        <span class="se"><img src="assets/imgs/search.svg" alt="search"></span>
                        <input type="text" class="form-control formControl pd-38" placeholder="Search  , Location">
                    </div>
                </div>
              </div>
              <!-- <div class="col-sm-1"></div> -->
              <div class="col-sm-9">
                  <div class="row">
                    <div class="col-sm-3"></div>
                      <div class="col-sm-2">
                          <div class="selecter">
                              <select class="form-control formControl">
                                  <option >From Date</option>
                              
                              </select>
                          </div>
                      </div>
                      <div class="col-sm-2">
                        <div class="selecter">
                            <select class="form-control formControl">
                                <option >To Date</option>
                         
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <ul class="radioAl">
                            <li>
                                <div class="form-group">
                                    <input type="radio" name="data" id="today" checked>
                                    <label for="today">Today</label>
                                </div>
                            </li>
                            <li>
                                <div class="form-group">
                                    <input type="radio" name="data" id="Week">
                                    <label for="Week">This Week</label>
                                </div>
                            </li>
                            <li>
                                <div class="form-group">
                                    <input type="radio" name="data" id="Month">
                                    <label for="Month">This Month</label>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- <div class="col-sm-3">
                        <a href="javascript:void(0)" [routerLink]="['/add-reward']"  class="btns addnew">+ Add Reward</a>
                    </div> -->
                  </div>
              </div>
          </div>
            </div>
        </div>
    </div>
</header>

<div class="commonall">
<div class="tableList">
    <div class="table-responsive scrollbar2" id="style-4">          
        <table class="table force-overflow2">
          <thead>
            <tr>
              <th>Reward ID</th>
              <th>Reward <br>
                Received Date</th>
                <th>Reward
                    Status</th>
              <th>Reward <br>
                Claimed Date</th>
           
              <th>Reward Claimed</th>
           
            </tr>
          </thead>
          <tbody>
        <tr>
            <td>SE3232</td>
            <td>20/12/2020</td>
            <td>Claimed</td>
            <td>29/12/2020</td>
          
            <td>Credit</td>
        </tr>
 
          </tbody>
        </table>
        </div>
        <div class="paginations">
            <div class="paginationLeft">
                <h2>Total Customers: <span>354865</span></h2>
            </div>
            <div class="paginationRight">
                <ul>
                    <li><a href="javascript:void(0)"><img src="assets/imgs/l.svg" alt="arrowleft"></a></li>
                    <li><a href="javascript:void(0)"><img src="assets/imgs/arrowleft.svg" alt="arrowleft"></a></li>
                    <li><a href="javascript:void(0)">1</a></li>
                    <li><a href="javascript:void(0)">2</a></li>
                    <li><a href="javascript:void(0)">3</a></li>
                    <li><a href="javascript:void(0)">4</a></li>
                    <li><a  href="javascript:void(0)"><img src="assets/imgs/arrowright.svg" alt="arrowright"></a></li>
                    <li><a href="javascript:void(0)"><img src="assets/imgs/r.svg" alt="arrowleft"></a></li>
                </ul>
            </div>
        </div>
</div>
</div>