<app-sidebar></app-sidebar>
<header>
    <div class="headerInner">
        <div class="headerAll">
            <div class="headerTop">
                <div class="topLeft">
                    <ul>
                        <li>Home /</li>
                        <li><a href="javascript:void(0)">Statistics</a></li>
                    </ul>
                </div>
                <div class="topRight">
                    <h2>Admin <span><img src="assets/imgs/profile.svg" alt="profile"></span></h2>
                    <!-- <div class="adminDetail">
                        <ul>
                            <li><a href="javascript:void(0)"><span><i class="fa fa-user"></i></span>Profile</a></li>
                            <li><a href="javascript:void(0)"><span><i class="fa fa-sign-out-alt"></i></span>Logout</a></li>
                      
                        </ul>
                    </div> -->
                </div>
            </div>
            <h2 class="head">Statistics</h2>
            <div class="allsearch alignCenter">
                <div class="row ">
                    <div class="col-sm-3">
                        <div class="searchLeft">
                            <div class="form-group Relative">
                                <span class="se"><img src="assets/imgs/search.svg" alt="search"></span>
                                <input type="text" class="form-control formControl pd-38 ft-12"
                                    placeholder="Search ">
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-sm-1"></div> -->
                    <div class="col-sm-9">
                        <div class="row">
                            <div class="col-sm-1"></div>
                            <div class="col-sm-3">
                                <div class="selecter">
                                    <select class="form-control formControl">
                                        <option>From Date</option>
                                  
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="selecter">
                                    <select class="form-control formControl">
                                        <option>To Date</option>
                                   
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <ul class="radioAl">
                                    <li>
                                        <div class="form-group">
                                            <input type="radio" name="data" id="today" checked>
                                            <label for="today">Today</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="form-group">
                                            <input type="radio" name="data" id="Week">
                                            <label for="Week">This Week</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="form-group">
                                            <input type="radio" name="data" id="Month">
                                            <label for="Month">This Month</label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

           
        </div>
    </div>
    <div class="stats headerAll">
  <div class="Alldashes scrollbar2" id="style-4">
      <div class="innerDashes  force-overflow2">
        <div class="dashBoxes">
            <h2 class="heade">Financial</h2>
            <div class="finacialMain">
                <div class="finacial DisFlex">
                    <div class="finacialNumber">
                        <h2>234</h2>
                    </div>
                    <div class="finacialdropdown">
                        <p>Gross Revenue <img class="ar" src="assets/imgs/ar.svg" alt=""></p>
                    </div>
                </div>

                <div class="displ DisFlex">
                    <div class="finacialbottomText">
                        <h5>40% Improvement</h5>
                    </div>
                    <div class="finacialbottomGraph">

                        <div class="graphValue">
                          <img src="assets/imgs/circle.svg" alt="cirlce">
                        </div>
             
                    </div>
                </div>
            </div>
        </div>
        <div class="dashBoxes">
            <h2 class="heade">Customers</h2>
            <div class="finacialMain">
                <div class="finacial DisFlex">
                    <div class="finacialNumber">
                        <h2>234</h2>
                    </div>
                    <div class="finacialdropdown">
                        <p>Gross Revenue <img class="ar" src="assets/imgs/ar.svg" alt=""></p>
                    </div>
                </div>

                <div class="displ DisFlex">
                    <div class="finacialbottomText">
                        <h5>40% Improvement</h5>
                    </div>
                    <div class="finacialbottomGraph">

                        <div class="graphValue">
                          <img src="assets/imgs/circle.svg" alt="cirlce">
                        </div>
             
                    </div>
                </div>
            </div>
        </div>
        <div class="dashBoxes">
            <h2 class="heade">Restaurants</h2>
            <div class="finacialMain">
                <div class="finacial DisFlex">
                    <div class="finacialNumber">
                        <h2>234</h2>
                    </div>
                    <div class="finacialdropdown">
                        <p>Gross Revenue <img class="ar" src="assets/imgs/ar.svg" alt=""></p>
                    </div>
                </div>

                <div class="displ DisFlex">
                    <div class="finacialbottomText">
                        <h5>40% Improvement</h5>
                    </div>
                    <div class="finacialbottomGraph">

                        <div class="graphValue">
                          <img src="assets/imgs/circle.svg" alt="cirlce">
                        </div>
             
                    </div>
                </div>
            </div>
        </div>
        <div class="dashBoxes">
            <h2 class="heade">Orders</h2>
            <div class="finacialMain">
                <div class="finacial DisFlex">
                    <div class="finacialNumber">
                        <h2>234</h2>
                    </div>
                    <div class="finacialdropdown">
                        <p>Gross Revenue <img class="ar" src="assets/imgs/ar.svg" alt=""></p>
                    </div>
                </div>

                <div class="displ DisFlex">
                    <div class="finacialbottomText">
                        <h5>40% Improvement</h5>
                    </div>
                    <div class="finacialbottomGraph">

                        <div class="graphValue">
                          <img src="assets/imgs/circle.svg" alt="cirlce">
                        </div>
             
                    </div>
                </div>
            </div>
        </div>
      </div>
  </div>
  <div class="Alldashes scrollbar2" id="style-4">
    <div class="innerDashes  force-overflow2">
      <div class="dashBoxes">
          <h2 class="heade">Rewards</h2>
          <div class="finacialMain">
              <div class="finacial DisFlex">
                  <div class="finacialNumber">
                      <h2>234</h2>
                  </div>
                  <div class="finacialdropdown">
                      <p>Gross Revenue <img class="ar" src="assets/imgs/ar.svg" alt=""></p>
                  </div>
              </div>

              <div class="displ DisFlex">
                  <div class="finacialbottomText">
                      <h5>40% Improvement</h5>
                  </div>
                  <div class="finacialbottomGraph">

                      <div class="graphValue">
                        <img src="assets/imgs/circle.svg" alt="cirlce">
                      </div>
           
                  </div>
              </div>
          </div>
      </div>
      <div class="dashBoxes">
          <h2 class="heade">Credits</h2>
          <div class="finacialMain">
              <div class="finacial DisFlex">
                  <div class="finacialNumber">
                      <h2>234</h2>
                  </div>
                  <div class="finacialdropdown">
                      <p>Gross Revenue <img class="ar" src="assets/imgs/ar.svg" alt=""></p>
                  </div>
              </div>

              <div class="displ DisFlex">
                  <div class="finacialbottomText">
                      <h5>40% Improvement</h5>
                  </div>
                  <div class="finacialbottomGraph">

                      <div class="graphValue">
                        <img src="assets/imgs/circle.svg" alt="cirlce">
                      </div>
           
                  </div>
              </div>
          </div>
      </div>
      <div class="dashBoxes">
          <h2 class="heade">Items</h2>
          <div class="finacialMain">
              <div class="finacial DisFlex">
                  <div class="finacialNumber">
                      <h2>234</h2>
                  </div>
                  <div class="finacialdropdown">
                      <p>Gross Revenue <img class="ar" src="assets/imgs/ar.svg" alt=""></p>
                  </div>
              </div>

              <div class="displ DisFlex">
                  <div class="finacialbottomText">
                      <h5>40% Improvement</h5>
                  </div>
                  <div class="finacialbottomGraph">

                      <div class="graphValue">
                        <img src="assets/imgs/circle.svg" alt="cirlce">
                      </div>
           
                  </div>
              </div>
          </div>
      </div>
      <div class="dashBoxes">
          <h2 class="heade">Saving</h2>
          <div class="finacialMain">
              <div class="finacial DisFlex">
                  <div class="finacialNumber">
                      <h2>234</h2>
                  </div>
                  <div class="finacialdropdown">
                      <p>Gross Revenue <img class="ar" src="assets/imgs/ar.svg" alt=""></p>
                  </div>
              </div>

              <div class="displ DisFlex">
                  <div class="finacialbottomText">
                      <h5>40% Improvement</h5>
                  </div>
                  <div class="finacialbottomGraph">

                      <div class="graphValue">
                        <img src="assets/imgs/circle.svg" alt="cirlce">
                      </div>
           
                  </div>
              </div>
          </div>
      </div>
    </div>
</div>
        <!-- <div class="row">
            <div class="col-md-4">
                <h2 class="heade">Financial</h2>
                <div class="finacialMain">
                    <div class="finacial DisFlex">
                        <div class="finacialNumber">
                            <h2>234</h2>
                        </div>
                        <div class="finacialdropdown">
                            <p>Gross Revenue <img src="assets/imgs/arrow.svg" alt=""></p>
                        </div>
                    </div>

                    <div class="finacialbottom DisFlex">
                        <div class="finacialbottomText">
                            <h5>40% Improvement</h5>
                        </div>
                        <div class="finacialbottomGraph">
                            <div id="chart">
                                <apx-chart
                                  [series]="chartOptions.series"
                                  [chart]="chartOptions.chart"
                                  [plotOptions]="chartOptions.plotOptions"
                                  [labels]="chartOptions.labels"
                                  [fill]="chartOptions.fill"
                                ></apx-chart>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <h2 class="heade"> Customers</h2>
                <div class="finacialMain">
                    <div class="finacial DisFlex">
                        <div class="finacialNumber">
                            <h2>234</h2>
                        </div>
                        <div class="finacialdropdown">
                            <p>Total Customers <img src="assets/imgs/arrow.svg" alt=""></p>
                        </div>
                    </div>

                    <div class="finacialbottom DisFlex">
                        <div class="finacialbottomText">
                            <h5>40% Improvement</h5>
                        </div>
                        <div class="finacialbottomGraph">
                            <div id="chart">
                                <apx-chart
                                  [series]="chartOptions.series"
                                  [chart]="chartOptions.chart"
                                  [plotOptions]="chartOptions.plotOptions"
                                  [labels]="chartOptions.labels"
                                ></apx-chart>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <h2 class="heade"> Restaurants</h2>
                <div class="finacialMain">
                    <div class="finacial DisFlex">
                        <div class="finacialNumber">
                            <h2>234</h2>
                        </div>
                        <div class="finacialdropdown">
                            <p>Total Restaurants <img src="assets/imgs/arrow.svg" alt=""></p>
                        </div>
                    </div>

                    <div class="finacialbottom DisFlex">
                        <div class="finacialbottomText">
                            <h5>40% Improvement</h5>
                        </div>
                        <div class="finacialbottomGraph">
                            <div id="chart">
                                <apx-chart
                                  [series]="chartOptions.series"
                                  [chart]="chartOptions.chart"
                                  [plotOptions]="chartOptions.plotOptions"
                                  [labels]="chartOptions.labels"
                                ></apx-chart>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <h2 class="heade"> Orders</h2>
                <div class="finacialMain">
                    <div class="finacial DisFlex">
                        <div class="finacialNumber">
                            <h2>234</h2>
                        </div>
                        <div class="finacialdropdown">
                            <p>Total Orders <img src="assets/imgs/arrow.svg" alt=""></p>
                        </div>
                    </div>

                    <div class="finacialbottom DisFlex">
                        <div class="finacialbottomText">
                            <h5>40% Improvement</h5>
                        </div>
                        <div class="finacialbottomGraph">
                            <div id="chart">
                                <apx-chart
                                  [series]="chartOptions.series"
                                  [chart]="chartOptions.chart"
                                  [plotOptions]="chartOptions.plotOptions"
                                  [labels]="chartOptions.labels"
                                ></apx-chart>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <h2 class="heade">Rewards</h2>
                <div class="finacialMain">
                    <div class="finacial DisFlex">
                        <div class="finacialNumber">
                            <h2>234</h2>
                        </div>
                        <div class="finacialdropdown">
                            <p>Gross Revenue <img src="assets/imgs/arrow.svg" alt=""></p>
                        </div>
                    </div>

                    <div class="finacialbottom DisFlex">
                        <div class="finacialbottomText">
                            <h5>40% Improvement</h5>
                        </div>
                        <div class="finacialbottomGraph">
                            <div id="chart">
                                <apx-chart
                                  [series]="chartOptions.series"
                                  [chart]="chartOptions.chart"
                                  [plotOptions]="chartOptions.plotOptions"
                                  [labels]="chartOptions.labels"
                                ></apx-chart>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <h2 class="heade">Credits</h2>
                <div class="finacialMain">
                    <div class="finacial DisFlex">
                        <div class="finacialNumber">
                            <h2>234</h2>
                        </div>
                        <div class="finacialdropdown">
                            <p>Gross Revenue <img src="assets/imgs/arrow.svg" alt=""></p>
                        </div>
                    </div>

                    <div class="finacialbottom DisFlex">
                        <div class="finacialbottomText">
                            <h5>40% Improvement</h5>
                        </div>
                        <div class="finacialbottomGraph">
                            <div id="chart">
                                <apx-chart
                                  [series]="chartOptions.series"
                                  [chart]="chartOptions.chart"
                                  [plotOptions]="chartOptions.plotOptions"
                                  [labels]="chartOptions.labels"
                                ></apx-chart>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <h2 class="heade">Items</h2>
                <div class="finacialMain">
                    <div class="finacial DisFlex">
                        <div class="finacialNumber">
                            <h2>234</h2>
                        </div>
                        <div class="finacialdropdown">
                            <p>Gross Revenue <img src="assets/imgs/arrow.svg" alt=""></p>
                        </div>
                    </div>

                    <div class="finacialbottom DisFlex">
                        <div class="finacialbottomText">
                            <h5>40% Improvement</h5>
                        </div>
                        <div class="finacialbottomGraph">
                            <div id="chart">
                                <apx-chart
                                  [series]="chartOptions.series"
                                  [chart]="chartOptions.chart"
                                  [plotOptions]="chartOptions.plotOptions"
                                  [labels]="chartOptions.labels"
                                ></apx-chart>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <h2 class="heade">Saving</h2>
                <div class="finacialMain">
                    <div class="finacial DisFlex">
                        <div class="finacialNumber">
                            <h2>234</h2>
                        </div>
                        <div class="finacialdropdown">
                            <p>Gross Revenue <img src="assets/imgs/arrow.svg" alt=""></p>
                        </div>
                    </div>

                    <div class="finacialbottom DisFlex">
                        <div class="finacialbottomText">
                            <h5>40% Improvement</h5>
                        </div>
                        <div class="finacialbottomGraph">
                            <div id="chart">
                                <apx-chart
                                  [series]="chartOptions.series"
                                  [chart]="chartOptions.chart"
                                  [plotOptions]="chartOptions.plotOptions"
                                  [labels]="chartOptions.labels"
                                ></apx-chart>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</header>