<app-sidebar></app-sidebar>
<header>
    <div class="headerInner">
        <div class="headerAll headerAll2">
            <div class="headerTop">
                <div class="topLeft">
                    <ul>
                        <li>Home /</li>
                        <li>Reward /</li>
                        <li><a href="javascript:void(0)">Add Reward</a></li>
                    </ul>
                </div>
                <div class="topRight">
                    <h2>Admin <span><img src="assets/imgs/profile.svg" alt="profile"></span></h2>
                    <!-- <div class="adminDetail">
                        <ul>
                            <li><a href="javascript:void(0)"><span><i class="fa fa-user"></i></span>Profile</a></li>
                            <li><a href="javascript:void(0)"><span><i class="fa fa-sign-out-alt"></i></span>Logout</a></li>
                      
                        </ul>
                    </div> -->
                </div>
            </div>
            <h2 class="head">Add Rewards</h2>

        </div>
    </div>
</header>

<div class="commonall commonallup">
    <div class="setting">
        <div class="row">
            <div class="col-sm-6">
                <div class="settingIn">
                    <div class="avatar-upload avatar-upload2">
                        <div class="avatar-edit  ">
                            <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" />
                            <label for="imageUpload"><span><i class="fa fa-upload"></i></span> Upload Image</label>
                        </div>
                        <div class="avatar-preview avatar-preview2">
                            <div id="imagePreview" style="background-image: url(assets/imgs/reward.svg);">
                            </div>
                        </div>
                    
                    </div>
                 
                    <div class="form-group">
                        <label for="" class="label">Reward Title</label>
                        <input type="text" placeholder="Reward Title" class="form-control formControl">
                    </div>
                    <div class="form-group">
                        <label for="" class="label">Description</label>
                     <textarea class="form-control formControl" rows="4" placeholder="Message"></textarea>
                    </div>
                
                    <div class="form-group savebtn">
                        <button class="btns">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>