<app-sidebar></app-sidebar>
<header>
    <div class="headerInner">
        <div class="headerAll headerAll2">
            <div class="headerTop">
                <div class="topLeft">
                    <ul>
                        <li>Home /</li>
                        <li><a href="javascript:void(0)">Restaurants</a></li>
                    </ul>
                </div>
                <div class="topRight">
                    <h2>Admin <span><img src="assets/imgs/profile.svg" alt="profile"></span></h2>
                    <!-- <div class="adminDetail">
                        <ul>
                            <li><a href="javascript:void(0)"><span><i class="fa fa-user"></i></span>Profile</a></li>
                            <li><a href="javascript:void(0)"><span><i class="fa fa-sign-out-alt"></i></span>Logout</a></li>
                      
                        </ul>
                    </div> -->
                </div>
            </div>
            <h2 class="head">Restaurant Details</h2>

        </div>
    </div>
</header>

<div class="commonall commonallup personal">
    <div class="staticcon ">
        <ul class="bd">
            <li class="active"><a [routerLink]="['/restaurants-personal-information']">Personal Information</a></li>
            <li><a [routerLink]="['/restaurants-menus']">Menus</a></li>
            <li><a [routerLink]="['/restaurants-sell-items']">Sell Items</a></li>
            <li><a [routerLink]="['/restaurants-order-history']">Order History</a></li>
            <li><a [routerLink]="['/restaurants-employees']">Employees</a></li>
            <!-- <li><a [routerLink]="['/restaurants-payout']">Payouts</a></li> -->
        </ul>
   <div class="row">
       <div class="col-sm-6">
        <div class="restBg">
            <img src="assets/imgs/bgres.svg" alt="bg">
        </div>
       </div>
       <div class="col-sm-6">
        <div class="followesRight">
            <ul>
                <li>
                    <div class="form-group">
                        <label class="label">Followers</label>
                        <div class="follBox">
                            <img src="assets/imgs/foll1.svg" alt="foll">
                            <p>51511</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="form-group">
                        <label class="label">Badge</label>
                        <div class="follBox">
                            <img src="assets/imgs/silver.svg" alt="silver">
                            <p>Silver</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
                            </div>
   </div>
        <div class="restdetails">
           
                <div class="row">
                    <div class="col-sm-6">
                        <div class="restBox">
                            <div class="logoBox">
                                <img src="assets/imgs/dominos.svg" alt="dominos">
                            </div>
                            <p><span>Brand ID</span> : SEQ3434</p>
                        </div>
                    </div>
                   
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="brandDetails">
                            <h2 class="head">Brand Details</h2>
                            <ul class="brandDet">
                                <li><span class="first">Business name</span> <span class="second">: Dominoz Pizza</span></li>
                                <li><span class="first">Food Type</span> <span class="second">: Veg</span></li>
                                <li><span class="first">Street</span> <span class="second">: Sector 18</span></li>
                                <li><span class="first">Locality</span> <span class="second">: Meerut</span></li>
                                <li><span class="first">Email</span> <span class="second">: info@dominos.com</span></li>
                                <li><span class="first">Website link</span> <span class="second">: www.dominos.com</span></li>
                                <li><span class="first">Type of business</span> <span class="second">: Italian</span></li>
                                <li><span class="first">GSTIN</span> <span class="second">: 645546564841151</span></li>
                                <li><span class="first">FSSAI License number</span> <span class="second">: 5195625924264946</span></li>
                            </ul>
                            </div> 
                    </div>
                    <div class="col-sm-6">
                        <div class="brandDetails">
                            <h2 class="head">Employee Info</h2>
                            <ul class="brandDet">
                                <li><span class="first"> Name</span> <span class="second">: Tommonaghan</span></li>
                                <li><span class="first">Mobile Number</span> <span class="second">: +91 9999999999</span></li>
                                <li><span class="first">Email ID</span> <span class="second">: Tommo@dominoz.com</span></li>
                                <li><span class="first">Contact Role</span> <span class="second">: Owner</span></li>
                          
                            </ul>
                            </div> 
                    </div>
                </div>
 
<div class="row">
    <div class="col-sm-6">
        <div class="brandDetails">
            <h2 class="head">Opening Hours</h2>
            <ul class="weekday">
                <li>
                    <p>Mon</p>
                    <h5>10:00 to 23:00</h5>
                </li>
                <li>
                    <p>Tue</p>
                    <h5>10:00 to 23:00</h5>
                </li>
                <li>
                    <p>Wed</p>
                    <h5>10:00 to 23:00</h5>
                </li>
                <li>
                    <p>Thu</p>
                    <h5>10:00 to 23:00</h5>
                </li>
                <li>
                    <p>Fri</p>
                    <h5>10:00 to 23:00</h5>
                </li>
                <li>
                    <p>Sat</p>
                    <h5>10:00 to 23:00</h5>
                </li>
                <li>
                    <p>Sun</p>
                    <h5>Closed</h5>
                </li>
            </ul>
        </div>
       
        
    </div>
    <div class="col-sm-6">
        <div class="brandDetails" style="padding-left: 75px;">
            <h2 class="head">Holiday Hours</h2>
            <ul class="weekday">
                <li style="margin-right: 15px;">
                    <p>24/4/21</p>
                    <h5>10:00 to 23:00</h5>
                </li>
                <li>
                    <p>25/4/21</p>
                    <h5>10:00 to 23:00</h5>
                </li>

            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="brandDetails">
            <h2 class="head">Bank Details</h2>
            <ul class="brandDet">
                <li><span class="first"> Bank Name</span> <span class="second">: ICICI</span></li>
                <li><span class="first">Account Holder Name</span> <span class="second">: Deepanshu Tyagi</span></li>
                <li><span class="first">Account Number</span> <span class="second">: 664946164962662</span></li>
                <li><span class="first">IFSC Code</span> <span class="second">: ICICI02156</span></li>
          
            </ul>
            </div> 
    </div>
</div>


                <!-- <div class="row">
                    <div class="col-sm-6">

                        <div class="brandDetails">
                            <h2 class="head">Brand Details</h2>
                            <div class="form-group">
                                <label class="label">Business name</label>
                                <input type="text" class="form-control formControl" placeholder="Business name"
                                    value="Dominoz Pizza">
                            </div>
                            <div class="form-group">
                                <label class="label">Food Type</label>
                                <ul class="radioAl">
                                    <li>
                                        <div class="form-group">
                                            <input type="radio" name="food" id="Veg" checked>
                                            <label for="Veg">Veg</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="form-group">
                                            <input type="radio" name="food" id="Non-veg">
                                            <label for="Non-veg">Non-veg</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="form-group">
                                            <input type="radio" name="food" id="Both">
                                            <label for="Both">Both</label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group Relative">
                                        <label for="" class="label">
                                            Street
                                        </label>
                                        <input type="text" class="form-control formControl" placeholder="Street"
                                            value="Sector 18">
                                        <span class="location"><img src="assets/imgs/location2.svg"
                                                alt="location"></span>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="" class="label">
                                            Locality
                                        </label>
                                        <input type="text" class="form-control formControl" placeholder="Locality"
                                            value="Meerut">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="label">
                                    Email
                                </label>
                                <input type="text" class="form-control formControl" placeholder="Email"
                                    value="info@dominos.com">
                            </div>
                            <div class="form-group">
                                <label for="" class="label">
                                    Website link
                                </label>
                                <input type="text" class="form-control formControl" placeholder="Website link"
                                    value="www.dominos.com">
                            </div>
                            <div class="form-group">
                                <label for="" class="label">
                                    Type of business
                                </label>
                                <select class="form-control formControl select2">
                                    <option>Italian</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="" class="label">
                                    GSTIN
                                </label>
                                <input type="text" class="form-control formControl" placeholder="GSTIN"
                                    value="645546564841151">
                            </div>
                            <div class="form-group">
                                <label for="" class="label">
                                    FSSAI License number
                                </label>
                                <input type="text" class="form-control formControl" placeholder="FSSAI License number"
                                    value="5195625924264946">
                            </div>
                            <div class="form-group btnwidth marginzero" style="padding-top: 10px;">
                                <button class="btns">Save Changes</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="brandDetails">
                            <h2 class="head">Employee Info</h2>
                            <div class="form-group">
                                <label class="label">Name</label>
                                <input type="text" class="form-control formControl" placeholder="Name"
                                    value="Deepanshu">
                            </div>
                            <div class="form-group">
                                <label class="label">Mobile Number</label>
                                <input type="text" class="form-control formControl" placeholder="Mobile Number"
                                    value="+91 9999999999">
                            </div>
                            <div class="form-group">
                                <label class="label">Email ID</label>
                                <input type="text" class="form-control formControl" placeholder="Email ID"
                                    value="Tommo@dominoz.com">
                            </div>
                            <div class="form-group">
                                <label class="label">Contact Role</label>
                                <input type="text" class="form-control formControl" placeholder="Contact Role"
                                    value="Owner">
                            </div>
                        </div>
                        <div class="brandDetails">
                            <h2 class="head">Opening Hours</h2>
                            <ul class="weekday">
                                <li>
                                    <p>Mon</p>
                                    <h5>10:00 to 23:00</h5>
                                </li>
                                <li>
                                    <p>Tue</p>
                                    <h5>10:00 to 23:00</h5>
                                </li>
                                <li>
                                    <p>Wed</p>
                                    <h5>10:00 to 23:00</h5>
                                </li>
                                <li>
                                    <p>Thu</p>
                                    <h5>10:00 to 23:00</h5>
                                </li>
                                <li>
                                    <p>Fri</p>
                                    <h5>10:00 to 23:00</h5>
                                </li>
                                <li>
                                    <p>Sat</p>
                                    <h5>10:00 to 23:00</h5>
                                </li>
                                <li>
                                    <p>Sun</p>
                                    <h5>Closed</h5>
                                </li>
                            </ul>
                        </div>
                        <div class="brandDetails">
                            <h2 class="head">Holiday Hours</h2>
                            <ul class="weekday">
                                <li>
                                    <p>24/4/21</p>
                                    <h5>10:00 to 23:00</h5>
                                </li>
                                <li>
                                    <p>25/4/21</p>
                                    <h5>10:00 to 23:00</h5>
                                </li>

                            </ul>
                        </div>
                        
                        <div class="brandDetails">
                            <h2 class="head">Bank Details</h2>
                            <ul class="bankDet">
                                <li><span class="b1">Bank Name</span>
                                    <span class="b2">ICICI</span>
                                </li>
                                <li><span class="b1">Account Holder Name</span>
                                    <span class="b2">Deepanshu Tyagi</span>
                                </li>
                                <li><span class="b1">Account Number</span>
                                    <span class="b2">664946164962662</span>
                                </li>
                                <li><span class="b1">IFSC Code</span>
                                    <span class="b2">ICICI02156</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div> -->
            
        </div>
    </div>
</div>