<app-sidebar></app-sidebar>
<header>
    <div class="headerInner">
        <div class="headerAll headerAll2">
            <div class="headerTop">
                <div class="topLeft">
                    <ul>
                        <li>Home /</li>
                        <li><a href="javascript:void(0)">Store Details</a></li>
                    </ul>
                </div>
                <div class="topRight">
                    <h2>Admin <span><img src="assets/imgs/profile.svg" alt="profile"></span></h2>
                    <!-- <div class="adminDetail">
                        <ul>
                            <li><a href="javascript:void(0)"><span><i class="fa fa-user"></i></span>Profile</a></li>
                            <li><a href="javascript:void(0)"><span><i class="fa fa-sign-out-alt"></i></span>Logout</a></li>
                      
                        </ul>
                    </div> -->
                </div>
            </div>
            <h2 class="head">Store Details</h2>

        </div>
    </div>
</header>

<div class="commonall commonallup">
    <div class="staticcon restDet">
        <ul class="bd">
            <li><a [routerLink]="['/store-personal-info']">Personal Information</a></li>
            <li><a [routerLink]="['/store-menu']">Menus</a></li>
            <li><a [routerLink]="['/store-sell-items']">Sell Items</a></li>
            <li><a [routerLink]="['/store-order-history']">Order History</a></li>
            <li class="active"><a [routerLink]="['/store-employee']">Employees</a></li>
            <!-- <li ><a [routerLink]="['/store-payout']">Payouts</a></li> -->
        </ul>
        <div class="staticUp">



        </div>
        <div class="customerTable" style="text-align: left;">
            <h2 class="head">Employees</h2>
            <div class="allsearch">
                <div class="row" style="padding-bottom: 25px;">
                    <div class="col-sm-4">
                        <div class="searchLeft">
                            <div class="form-group Relative">
                                <span class="se"><img src="assets/imgs/search.svg" alt="search"></span>
                                <input type="text" class="form-control formControl pd-38" placeholder="Search  ">
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-sm-1"></div> -->
                    <div class="col-sm-8">
                        <div class="row">
                            <div class="col-sm-6"></div>
                            <div class="col-sm-3">
                                <div class="selecter">
                                    <select class="form-control formControl">
                                        <option>From Date</option>
                                        <option>10 july 2021</option>
                                        <option>11 july 2021</option>
                                        <option>12 july 2021</option>
                                        <option>13 july 2021</option>
                                        <option>14 july 2021</option>
                                        <option>15 july 2021</option>
                                        <option>16 july 2021</option>
                                        <option>17 july 2021</option>
                                        <option>18 july 2021</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="selecter">
                                    <select class="form-control formControl">
                                        <option>To Date</option>
                                        <option>15 july 2021</option>
                                        <option>16 july 2021</option>
                                        <option>18 july 2021</option>
                                        <option>19 july 2021</option>
                                        <option>20 july 2021</option>
                                        <option>21 july 2021</option>
                                        <option>22 july 2021</option>
                                        <option>23 july 2021</option>
                                        <option>24 july 2021</option>
                                    </select>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>


                <div class="tableList">
                    <div class="table-responsive scrollbar2" id="style-4">
                        <table class="table force-overflow2">
                            <thead>
                                <tr>

                                    <th>Emp. ID</th>
                                    <th>Emp. Name</th>
                                    <th>Contact Email</th>
                                    <th>Joining Date</th>
                                    <th>Store Id</th>
                                    <th>Store Name</th>
                                    <th>Contact Number</th>
                                    <th>Role</th>
                                    <th>Action</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><span class="idcolor">SE065132</span></td>
                                    <td>Deepanshu</td>
                                    <td>Deepanshu@gmail.com</td>
                                    <td>22/05/2021</td>
                                    <td><span class="idcolor" [routerLink]="['/store-personal-info']"
                                            style="cursor: pointer;">SEB32323</span></td>
                                    <td>Dominoz</td>
                                    <td>8126362520</td>
                                    <td>Manager</td>
                                    <td><span class="action">

                                            <a href="javascript:void(0)" class="switchUp">
                                                <input class="switch" type="checkbox" />
                                            </a>
                                        </span></td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                    <div class="paginations">
                        <div class="paginationLeft">
                            <h2>Total Employees : <span>354865</span></h2>
                        </div>
                        <div class="paginationRight">
                            <ul>
                                <li><a href="javascript:void(0)"><img src="assets/imgs/l.svg" alt="arrowleft"></a></li>
                                <li><a href="javascript:void(0)"><img src="assets/imgs/arrowleft.svg"
                                            alt="arrowleft"></a></li>
                                <li><a href="javascript:void(0)">1</a></li>
                                <li><a href="javascript:void(0)">2</a></li>
                                <li><a href="javascript:void(0)">3</a></li>
                                <li><a href="javascript:void(0)">4</a></li>
                                <li><a href="javascript:void(0)"><img src="assets/imgs/arrowright.svg"
                                            alt="arrowright"></a></li>
                                <li><a href="javascript:void(0)"><img src="assets/imgs/r.svg" alt="arrowleft"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>