<app-sidebar></app-sidebar>
<header>
    <div class="headerInner">
        <div class="headerAll headerAll2">
            <div class="headerTop">
                <div class="topLeft">
                    <ul>
                        <li>Home /</li>
                        <li [routerLink]="['/restaurants']" style="cursor: pointer;">Restaurant /</li>
                        <li><a href="javascript:void(0)">Brand Details</a></li>
                    </ul>
                </div>
                <div class="topRight">
                    <h2>Admin <span><img src="assets/imgs/profile.svg" alt="profile"></span></h2>
                    <!-- <div class="adminDetail">
                        <ul>
                            <li><a href="javascript:void(0)"><span><i class="fa fa-user"></i></span>Profile</a></li>
                            <li><a href="javascript:void(0)"><span><i class="fa fa-sign-out-alt"></i></span>Logout</a></li>
                      
                        </ul>
                    </div> -->
                </div>
            </div>
            <h2 class="head">Brand Details</h2>

        </div>
    </div>
</header>

<div class="commonall commonallup personal">
    <div class="staticcon restDet">
   <h2 class="head nrePersn">Personal Information</h2>
   <div class="row">
       <div class="col-sm-6">
        <div class="restBg">
            <img src="assets/imgs/bgres.svg" alt="bg">
        </div>
       </div>
       <div class="col-sm-6">
        <div class="followesRight">
            <ul>
                <li>
                    <div class="form-group">
                        <label class="label">Followers</label>
                        <div class="follBox">
                            <img src="assets/imgs/foll1.svg" alt="foll">
                            <p>51511</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="form-group">
                        <label class="label">Badge</label>
                        <div class="follBox">
                            <img src="assets/imgs/silver.svg" alt="silver">
                            <p>Silver</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
                            </div>
   </div>
        <div class="restdetails">
           
                <div class="row">
                    <div class="col-sm-6">
                        <div class="restBox">
                            <div class="logoBox">
                                <img src="assets/imgs/dominos.svg" alt="dominos">
                            </div>
                            <p><span>Brand ID</span> : SEQ3434</p>
                        </div>
                    </div>
                   
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="brandDetails">
                            <h2 class="head">Brand Details</h2>
                            <ul class="brandDet">
                                <li><span class="first">Business name</span> <span class="second">: Dominoz Pizza</span></li>
                                <li><span class="first">Food Type</span> <span class="second">: Veg</span></li>
                                <li><span class="first">Street</span> <span class="second">: Sector 18</span></li>
                                <li><span class="first">Locality</span> <span class="second">: Meerut</span></li>
                                <li><span class="first">Email</span> <span class="second">: info@dominos.com</span></li>
                                <li><span class="first">Website link</span> <span class="second">: www.dominos.com</span></li>
                                <li><span class="first">Type of business</span> <span class="second">: Italian</span></li>
                                <li><span class="first">GSTIN</span> <span class="second">: 645546564841151</span></li>
                                <li><span class="first">FSSAI License number</span> <span class="second">: 5195625924264946</span></li>
                            </ul>
                            </div> 
                    </div>
                    <div class="col-sm-6">
                        <div class="brandDetails">
                            <h2 class="head">Employee Info</h2>
                            <ul class="brandDet">
                                <li><span class="first"> Name</span> <span class="second">: Tommonaghan</span></li>
                                <li><span class="first">Mobile Number</span> <span class="second">: +91 9999999999</span></li>
                                <li><span class="first">Email ID</span> <span class="second">: Tommo@dominoz.com</span></li>
                                <li><span class="first">Contact Role</span> <span class="second">: Owner</span></li>
                          
                            </ul>
                            </div> 
                    </div>
                </div>
 
<div class="row">
    <div class="col-sm-6">
        <div class="brandDetails">
            <h2 class="head">Opening Hours</h2>
            <ul class="weekday">
                <li>
                    <p>Mon</p>
                    <h5>10:00 to 23:00</h5>
                </li>
                <li>
                    <p>Tue</p>
                    <h5>10:00 to 23:00</h5>
                </li>
                <li>
                    <p>Wed</p>
                    <h5>10:00 to 23:00</h5>
                </li>
                <li>
                    <p>Thu</p>
                    <h5>10:00 to 23:00</h5>
                </li>
                <li>
                    <p>Fri</p>
                    <h5>10:00 to 23:00</h5>
                </li>
                <li>
                    <p>Sat</p>
                    <h5>10:00 to 23:00</h5>
                </li>
                <li>
                    <p>Sun</p>
                    <h5>Closed</h5>
                </li>
            </ul>
        </div>
       
        
    </div>
    <div class="col-sm-6">
        <div class="brandDetails" style="padding-left: 75px;">
            <h2 class="head">Holiday Hours</h2>
            <ul class="weekday">
                <li style="margin-right: 15px;">
                    <p>24/4/21</p>
                    <h5>10:00 to 23:00</h5>
                </li>
                <li>
                    <p>25/4/21</p>
                    <h5>10:00 to 23:00</h5>
                </li>

            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="brandDetails">
            <h2 class="head">Bank Details</h2>
            <ul class="brandDet">
                <li><span class="first"> Bank Name</span> <span class="second">: ICICI</span></li>
                <li><span class="first">Account Holder Name</span> <span class="second">: Deepanshu Tyagi</span></li>
                <li><span class="first">Account Number</span> <span class="second">: 664946164962662</span></li>
                <li><span class="first">IFSC Code</span> <span class="second">: ICICI02156</span></li>
          
            </ul>
            </div> 
    </div>
</div>


                <!-- <div class="row">
                    <div class="col-sm-6">

                        <div class="brandDetails">
                            <h2 class="head">Brand Details</h2>
                            <div class="form-group">
                                <label class="label">Business name</label>
                                <input type="text" class="form-control formControl" placeholder="Business name"
                                    value="Dominoz Pizza">
                            </div>
                            <div class="form-group">
                                <label class="label">Food Type</label>
                                <ul class="radioAl">
                                    <li>
                                        <div class="form-group">
                                            <input type="radio" name="food" id="Veg" checked>
                                            <label for="Veg">Veg</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="form-group">
                                            <input type="radio" name="food" id="Non-veg">
                                            <label for="Non-veg">Non-veg</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="form-group">
                                            <input type="radio" name="food" id="Both">
                                            <label for="Both">Both</label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group Relative">
                                        <label for="" class="label">
                                            Street
                                        </label>
                                        <input type="text" class="form-control formControl" placeholder="Street"
                                            value="Sector 18">
                                        <span class="location"><img src="assets/imgs/location2.svg"
                                                alt="location"></span>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="" class="label">
                                            Locality
                                        </label>
                                        <input type="text" class="form-control formControl" placeholder="Locality"
                                            value="Meerut">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="label">
                                    Email
                                </label>
                                <input type="text" class="form-control formControl" placeholder="Email"
                                    value="info@dominos.com">
                            </div>
                            <div class="form-group">
                                <label for="" class="label">
                                    Website link
                                </label>
                                <input type="text" class="form-control formControl" placeholder="Website link"
                                    value="www.dominos.com">
                            </div>
                            <div class="form-group">
                                <label for="" class="label">
                                    Type of business
                                </label>
                                <select class="form-control formControl select2">
                                    <option>Italian</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="" class="label">
                                    GSTIN
                                </label>
                                <input type="text" class="form-control formControl" placeholder="GSTIN"
                                    value="645546564841151">
                            </div>
                            <div class="form-group">
                                <label for="" class="label">
                                    FSSAI License number
                                </label>
                                <input type="text" class="form-control formControl" placeholder="FSSAI License number"
                                    value="5195625924264946">
                            </div>
                            <div class="form-group btnwidth marginzero" style="padding-top: 10px;">
                                <button class="btns">Save Changes</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="brandDetails">
                            <h2 class="head">Employee Info</h2>
                            <div class="form-group">
                                <label class="label">Name</label>
                                <input type="text" class="form-control formControl" placeholder="Name"
                                    value="Deepanshu">
                            </div>
                            <div class="form-group">
                                <label class="label">Mobile Number</label>
                                <input type="text" class="form-control formControl" placeholder="Mobile Number"
                                    value="+91 9999999999">
                            </div>
                            <div class="form-group">
                                <label class="label">Email ID</label>
                                <input type="text" class="form-control formControl" placeholder="Email ID"
                                    value="Tommo@dominoz.com">
                            </div>
                            <div class="form-group">
                                <label class="label">Contact Role</label>
                                <input type="text" class="form-control formControl" placeholder="Contact Role"
                                    value="Owner">
                            </div>
                        </div>
                        <div class="brandDetails">
                            <h2 class="head">Opening Hours</h2>
                            <ul class="weekday">
                                <li>
                                    <p>Mon</p>
                                    <h5>10:00 to 23:00</h5>
                                </li>
                                <li>
                                    <p>Tue</p>
                                    <h5>10:00 to 23:00</h5>
                                </li>
                                <li>
                                    <p>Wed</p>
                                    <h5>10:00 to 23:00</h5>
                                </li>
                                <li>
                                    <p>Thu</p>
                                    <h5>10:00 to 23:00</h5>
                                </li>
                                <li>
                                    <p>Fri</p>
                                    <h5>10:00 to 23:00</h5>
                                </li>
                                <li>
                                    <p>Sat</p>
                                    <h5>10:00 to 23:00</h5>
                                </li>
                                <li>
                                    <p>Sun</p>
                                    <h5>Closed</h5>
                                </li>
                            </ul>
                        </div>
                        <div class="brandDetails">
                            <h2 class="head">Holiday Hours</h2>
                            <ul class="weekday">
                                <li>
                                    <p>24/4/21</p>
                                    <h5>10:00 to 23:00</h5>
                                </li>
                                <li>
                                    <p>25/4/21</p>
                                    <h5>10:00 to 23:00</h5>
                                </li>

                            </ul>
                        </div>
                        
                        <div class="brandDetails">
                            <h2 class="head">Bank Details</h2>
                            <ul class="bankDet">
                                <li><span class="b1">Bank Name</span>
                                    <span class="b2">ICICI</span>
                                </li>
                                <li><span class="b1">Account Holder Name</span>
                                    <span class="b2">Deepanshu Tyagi</span>
                                </li>
                                <li><span class="b1">Account Number</span>
                                    <span class="b2">664946164962662</span>
                                </li>
                                <li><span class="b1">IFSC Code</span>
                                    <span class="b2">ICICI02156</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div> -->
            
        </div>
        <div class="customerTable" style="text-align: left;">
            <h2 class="head">Store Listing</h2>
           
        
              <div class="tableList">
                <div class="table-responsive scrollbar2" id="style-4">
                  <table class="table force-overflow2">
                    <thead>
                      <tr>
                        <th>Store id</th>
                        <th>Store name</th>
                        <th>Email</th>
                        <th>Contact number</th>
                        <th>Location</th>
                        <th>Menu Added</th>
                        <th>Items for sale</th>
                        <th>Item sold</th>
                        <th>Total orders</th>
                        <th>Restaurant followers</th>
                        <th>Badge level</th>
                        <th>Revenue </th>
                        <th>Status </th>
                        <th>Action</th>
        
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                       
                        <td><span class="idcolor pointer" [routerLink]="['/store-personal-info']">SE065132</span></td>
                        <td>Dominos</td>
                        <td>dominos@gmail.com</td>
                        <td>8126362520</td>
                        <td>Meerut</td>
                        <td>20</td>
                        <td>55</td>
                        <td>45</td>
                        <td>700</td>
                        <td>2K</td>
                        <td>34</td>
                        <td>70 lakhs</td>
                        <td><span class="pending">Inactive</span></td>
                        <td><span class="action">
                            <a [routerLink]="['/store-personal-info']"><img src="assets/imgs/eye.svg"
                                    class="eye" alt="eye"></a>
                            <a href="javascript:void(0)" class="switchUp">
                                <input class="switch" type="checkbox" />
                            </a>
                            <a href="javascript:void(0):void(0)" class="colorGreen"><i class="fa fa-check"></i></a>
                            <a href="javascript:void(0):void(0)" class="colorRed"><i class="fas fa-times"></i></a>
                      
                        </span></td>
                 
                      </tr>
         
                    </tbody>
                  </table>
                </div>
                <div class="paginations">
                  <div class="paginationLeft">
                    <!-- <h2>Total Orders : <span>354865</span></h2> -->
                  </div>
                  <div class="paginationRight">
                    <ul>
                      <li><a href="javascript:void(0)"><img src="assets/imgs/l.svg" alt="arrowleft"></a></li>
                      <li><a href="javascript:void(0)"><img src="assets/imgs/arrowleft.svg" alt="arrowleft"></a></li>
                      <li><a href="javascript:void(0)">1</a></li>
                      <li><a href="javascript:void(0)">2</a></li>
                      <li><a href="javascript:void(0)">3</a></li>
                      <li><a href="javascript:void(0)">4</a></li>
                      <li><a href="javascript:void(0)"><img src="assets/imgs/arrowright.svg" alt="arrowright"></a></li>
                      <li><a href="javascript:void(0)"><img src="assets/imgs/r.svg" alt="arrowleft"></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            
          </div>
    </div>
    
</div>
