<app-sidebar></app-sidebar>
<header>
  <div class="headerInner">
    <div class="headerAll headerAll2">
      <div class="headerTop">
        <div class="topLeft">
          <ul>
            <li>Home /</li>
            <li><a href="javascript:void(0)">Generate Credit</a></li>
          </ul>
        </div>
        <div class="topRight">
          <h2>Admin <span><img src="assets/imgs/profile.svg" alt="profile"></span></h2>
          <!-- <div class="adminDetail">
                        <ul>
                            <li><a href="javascript:void(0)"><span><i class="fa fa-user"></i></span>Profile</a></li>
                            <li><a href="javascript:void(0)"><span><i class="fa fa-sign-out-alt"></i></span>Logout</a></li>
                      
                        </ul>
                    </div> -->
        </div>
      </div>
      <h2 class="head">Generate Credit</h2>

    </div>
  </div>
</header>

<div class="commonall commonallup">
<div class="Credit">
    <h2 class="head2">Upload New Credit Card</h2>
    <div class="row" style="padding-top: 15px;">
        <div class="col-sm-6 ">
            <form action="">
                <div class="form-group Relative">
                    <span class="se"><img src="assets/imgs/search.svg" alt="search"></span>
                    <input type="text" class="form-control formControl pd-38" placeholder="Search Customer ID">
                </div>
                <div class="form-group checker">
                    <input type="checkbox" id="check">
                    <label for="check">Upload for All Customers</label>
                </div>
                <div class="form-group">
                    <label for="" class="label">Credit Title</label>
                    <input type="text" class="form-control formControl border" placeholder="Code Title">
                </div>
                <div class="form-group">
                    <label for="" class="label">Credit Code</label>
                    <input type="text" class="form-control formControl border" placeholder="Credit Code">
                </div>
                <div class="form-group">
                    <label for="" class="label">Credit Frequency</label>
                    <input type="text" class="form-control formControl border" placeholder="Credit Frequency">
                </div>
                <div class="form-group">
                    <label for="" class="label">Credit Amount</label>
                    <input type="text" class="form-control formControl border" placeholder="Credit Amount">
                </div>
                <div class="form-group">
                    <label for="" class="label">Credit Description</label>
                    <textarea  class="form-control formControl" placeholder="Description" rows="3"></textarea>
                </div>

             <div class="duration">
                <h2 class="head2">Code Duration</h2>
             </div>
             <div class="row">
                 <div class="col-sm-6">
                     <div class="form-group">
                         <label for="" class="label">Start Date</label>
                         <select class="form-control formControl">
                             <option value="">Start Date</option>
                         </select>
                     </div>
                 </div>
                 <div class="col-sm-6">
                    <div class="form-group">
                        <label for="" class="label">End Date</label>
                        <select class="form-control formControl">
                            <option value="">End Date</option>
                        </select>
                    </div>
                </div>
             </div>
             <div class="form-group sbtn">
                 <button class="btns">Submit</button>
             </div>
            </form>
        </div>
        <div class="col-sm-6">
            <div class="uploadedCredit">
                <ul>
                    <li>SE065132 <span><img src="assets/imgs/close.svg" alt="close"></span></li>
                    <li>SE032 <span><img src="assets/imgs/close.svg" alt="close"></span></li>
                    <li>SE0512 <span><img src="assets/imgs/close.svg" alt="close"></span></li>
                    <li>SE065132 <span><img src="assets/imgs/close.svg" alt="close"></span></li>
                    <li>SE065132 <span><img src="assets/imgs/close.svg" alt="close"></span></li>
                    <li>SE0652 <span><img src="assets/imgs/close.svg" alt="close"></span></li>
                    <li>SE06599132 <span><img src="assets/imgs/close.svg" alt="close"></span></li>
                    <li>SE032 <span><img src="assets/imgs/close.svg" alt="close"></span></li>
                    <li>SE0965132 <span><img src="assets/imgs/close.svg" alt="close"></span></li>
                    <li>SE065132 <span><img src="assets/imgs/close.svg" alt="close"></span></li>
                    <li>SE032 <span><img src="assets/imgs/close.svg" alt="close"></span></li>
                    <li>SE065132 <span><img src="assets/imgs/close.svg" alt="close"></span></li>
                    <li>SE95132 <span><img src="assets/imgs/close.svg" alt="close"></span></li>
                    <li>SE132 <span><img src="assets/imgs/close.svg" alt="close"></span></li>
                    <li>SE065132 <span><img src="assets/imgs/close.svg" alt="close"></span></li>
                    <li>SE0652 <span><img src="assets/imgs/close.svg" alt="close"></span></li>
                    <li>SE06532 <span><img src="assets/imgs/close.svg" alt="close"></span></li>
                    <li>SE06532 <span><img src="assets/imgs/close.svg" alt="close"></span></li>
                    <li>SE065132 <span><img src="assets/imgs/close.svg" alt="close"></span></li>
                    <li>SE032 <span><img src="assets/imgs/close.svg" alt="close"></span></li>
                    <li>SE0512 <span><img src="assets/imgs/close.svg" alt="close"></span></li>
                    <li>SE065132 <span><img src="assets/imgs/close.svg" alt="close"></span></li>
                    <li>SE065132 <span><img src="assets/imgs/close.svg" alt="close"></span></li>
                    <li>SE0652 <span><img src="assets/imgs/close.svg" alt="close"></span></li>
                    <li>SE06599132 <span><img src="assets/imgs/close.svg" alt="close"></span></li>
                    <li>SE032 <span><img src="assets/imgs/close.svg" alt="close"></span></li>
                    <li>SE0965132 <span><img src="assets/imgs/close.svg" alt="close"></span></li>
                    <li>SE065132 <span><img src="assets/imgs/close.svg" alt="close"></span></li>
                    <li>SE032 <span><img src="assets/imgs/close.svg" alt="close"></span></li>
                    <li>SE065132 <span><img src="assets/imgs/close.svg" alt="close"></span></li>
                    <li>SE95132 <span><img src="assets/imgs/close.svg" alt="close"></span></li>
                    <li>SE132 <span><img src="assets/imgs/close.svg" alt="close"></span></li>
                    <li>SE065132 <span><img src="assets/imgs/close.svg" alt="close"></span></li>
                    <li>SE0652 <span><img src="assets/imgs/close.svg" alt="close"></span></li>
                    <li>SE06532 <span><img src="assets/imgs/close.svg" alt="close"></span></li>
                    <li>SE06532 <span><img src="assets/imgs/close.svg" alt="close"></span></li>
                </ul>
            </div>
        </div>
    </div>
</div>
    </div>